<div class="row">
  <div class="userProfile col-xs-12">
    <h2><%= @user.first_name %>'s Profile</h2>
    <p><%= @user.email %></p>
      <%= link_to "Delete Account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>

</div>
