<div>
<% if @game.winner != "no one" %>
    Winner: <%= @game.winner %>
<% end %>
<% @game.pieces.each do |row| %>
  <%= row %><br/>
<% end %>
</div>
<br>
<%= link_to "Make a move", edit_game_path(@game.id) %>
