.square {
  border: 1px solid #000;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.row {
  display: flex;
  justify-content: center;
}

.blackBG {
  background-color: #CCCCCC;
}

.redBG {
  background-color: white;

}
div.blackpiece {
  border-radius: 25px;
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: #222222;
}


div.redpiece {
  border-radius: 25px;
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: #c04242;
}

div.gamelist {
  border: 1px solid black;
  overflow: scroll;
  width: 300px;
  height: 100px;
  display: inline-block;
}

.header {
  text-align: center;
}

div.container-fluid {
  background-color: #284378;
  border: none;
}

nav.navbar {
  border: none;
}

.games {
  text-align: center;

}

.checkerssignup {
  display: flex;
  justify-content: center;
}
.messages {
  text-align: center;
}
