a {
  font-family: 'Oxygen', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.vertical-center {
  min-height: 30vh; /* These two lines are counted as one :-)       */
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.errorMessage {
  background-color: rgb(217, 86, 24);
}

div.chat {
  background-color: #FFFFFF;

}

div.board {
  background-color: #FFFFFF;
  opacity: .9;
}

div.choices {
  background-color: black;
}
div.gamescallout {
  font-family: 'Oxygen', sans-serif;
  border-top: 10px;
  padding-top: 30px;
  padding: 60px;
  justify-content: center;
  background-color: #FFFFFF;
  opacity: .9;
  width: 1060px;
  font-size: 25px;
}

div.possiblechoices {
  background-color: red
}

.square {
  border: 1px solid #000;
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 100px) {
  .square {
    width: 50px;
    height: 50px;
  }
}

.bgcurrentUser {
  background-color: rgb(224, 179, 63);
}

.display {
  border: 1px solid black;
  overflow: scroll;
}

.userProfile.col-xs-12 {
  width: 500px;
  border: 1px solid #eee;
}

.row {
  display: flex;
  justify-content: center;
}

.blackBG {
  background-color: #CCCCCC;
}

.redBG {
  background-color: white;

}
div.blackpiece {
  border-radius: 25px;
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: #222222;
  box-shadow: 5px 5px 5px #888888;
}

div.kingblackpiece {
  border-radius: 25px;
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: #222222;
  box-shadow: 5px 5px 5px #888888;
  display: flex;
  align-items: center;
  justify-content: center;

}

div.redpiece {
  border-radius: 25px;
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: #c04242;
  box-shadow: 5px 5px 5px #888888;
}
img {

}

div.kingredpiece {
  border-radius: 25px;
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: #c04242;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #888888;
}

div.gamelist {
  border: 1px solid black;
  overflow: scroll;
  width: 300px;
  height: 100px;
  display: inline-block;
  position: relative;
}

input#user_remember_me {
    width: 10px;
}

input {
  width: 206px
}
.header {
  text-align: center;
}

div.container-fluid {
  background-color: #333;
  border: none;
}

nav.navbar {
  border: none;
}

.games {
  text-align: center;

}

.checkerssignup {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 700px;

  height: 380px;
  padding-top: 30px;
  margin: 0px;
}
.messages {
  text-align: center;
}
